/* Custom styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    width: 98%;
    margin: 20px auto;
    overflow: hidden;
    display:flex;
}
.container1 {
    width: 95%; 
    margin: 20px auto;
    overflow: hidden;
    display:flex;
}

.container2 {
    width: 95%; 
    margin: 20px auto;
    overflow: hidden;
    display:flex;
}

.subcard1 {
    border: 2px solid rgba(41, 41, 42, 0.5);
    padding: 12px 30px;
    margin-right: 10px;
}

.subcard1 input select{
    background-color: #7e7878;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.subcard2 {
    border: 2px solid rgba(41, 41, 42, 0.5);
    padding: 12px 30px;
    margin-left: 10px;
}

.card {
    width: 100%;
    flex: true;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}
.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.card p {
    font-size: 16px;
    margin-bottom: 20px;
}
.card select {
    background-color: #7e7878;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.report-container {
    display: flex;
    flex-direction: column; /* Vertical layout */
    padding: 20px 10px;
    width: 100%;
  }
  
.report-container .box {
    padding: 20px;
    margin: 10px;
  }
  
.report-container .box-search {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
.search-data{
    background-color: #f1f5f5;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}
  
.report-container .box-report {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(225, 241, 242, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
  }
  
/* Table styles for report*/
.report-search {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(225, 241, 242, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.report-search p {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(225, 241, 242, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    color: crimson;
}


.box-report table {
    width: 100%;
    border-collapse: collapse;
}
  
.box-report  table th,
  table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
  
  /* Header row styles */
.box-report  table th {
    background-color: #f2f2f2;
}
  
  /* Alternate row colors */
.box-report table tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
  /* Hover effect on rows */
.box-report table tr:hover {
    background-color: #e6e6e6;
}

.disabled a {
    color: #999;
    pointer-events: none;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn2 {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

/* Popup container */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}
/* Overlay behind the popup */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.id-column {
    width: 150px; /* Set width for ID column */
}

.type-column {
    width: 200px; /* Set width for Type column */
}

.status-column {
    width: 200px; /* Set width for Status column */
}

.action-cell {
    width: 200px; /* Set width for action cell */
}

.action-cell button {
    margin-right: 10px; /* Add margin between buttons */
    margin-left: 10px; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#myInput {
    background-repeat: no-repeat; 
    width: 40%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    display: flex;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  