<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-sub.css') }}">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
    <!--link rel="stylesheet" href="../static/sub-style.css"-->
    <title>Manage Devices</title>
    <!-- further custom styles if required -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='reports.js') }}"></script>
    <style>
        
    </style>
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('manageDevices') }}">Devices</a></li>
            {% if session['DIMSRole'] == 'admin' %}
            <li><a href="{{ url_for('manageUsers') }}">Users</a></li>
            {% else %}
            <li class="disabled"><a href="#">Users</a></li>
            {% endif %}
            <li><a href="{{ url_for('generateReports') }}">Reports</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block page_content_1 %}{% endblock %}
        
    </div>
    <script src="{{ url_for('static', filename='reports.js') }}"></script>
</body>
</html>