
{% extends 'base-sub.html' %}

{% block header %}
  <h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}
<div class="container2">
    <div class="subcard1">
        <h2 id="formTitle">Add New Device</h2>
        <p>Use the form below to add or update device information:</p>
        <form id="deviceForm" action="/api/add_device" method="POST">
            <label for="assert_no">Assert Number:</label><br>
            <input type="text" id="assert_no" name="assert_no" required><br><br>
            <label for="device_name">Device Name:</label><br>
            <input type="text" id="device_name" name="device_name" required><br><br>
            <label for="device_condition">Device Condition:</label><br>
            <select id="device_condition" name="device_condition" required>
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="faulty">Faulty</option>
            </select><br><br>
            <label for="device_type">Device Type:</label><br>
            <select id="device_type" name="device_type" required>
                <option value="Manufactured">Manufactured</option>
                <option value="Thirdparty">Thirdparty</option>
            </select><br><br>
            <label for="device_serial">Device Serial Number:</label><br>
            <input type="text" id="device_serial" name="device_serial" required><br><br>
            <label for="device_firmware" id="lbl_device_firmware">Device Firmware Version:</label><br>
            <input type="text" id="device_firmware" name="device_firmware" required><br><br>
            <label for="employee_name" id="lbl_employee_name">Employee Name:</label><br>
            <select type="text" id="employee_name" name="employee_name">
                <option value="{{ ID }}">{{ Name }}</option>
            </select><br><br>

            <label for="device_MD" id="lbl_device_MD">Device Manufactured Date:</label><br>
            <input type="date" id="device_MD" name="device_MD" required><br><br>
            <label for="model_no" id="lbl_model_no">Device Model Number:</label><br>
            <input type="text" id="model_no" name="model_no"><br><br>
            
                <!-- Add more options as needed -->
            </select><br><br>
            <button type="submit" class="btn" id="submitButton">Add Device</button>
            <button type="button" class="btn" onclick="addDevice()">Clear</button>
        </form>
    </div>

    <div class="subcard2" id="deviceContainer">
        <h2>View Devices</h2>
        <p>View the list of devices currently registered in the system:</p>
        <div class="overlay" id="overlay"></div>
        <input type="text" id="myInput" onkeyup="myFunctionSearch()" placeholder="Search for anything.." title="Type in assert number">
        <table id='myTable' bgcolor='white' border="0.5">
            <!-- <thead id="tableHeader"></thead>
            <tbody id="tableBody"></tbody> -->
            <!-- <tr class="header"><th>Assert Number</th><th>Device Name</th><th>Device Condition</th><th>Device Type</th><th>Serial No</th><th>Device Firmware</th><th>Manufacture Date</th><th>Model Number</th></tr> -->
            <!-- <tr class="header"><td>Assert Number</td><td>Device Name</td><td>Device Condition</td><td>Device Type</td><td>Serial No</td><td>Device Firmware</td><td>Manufacture Date</td><td>Model Number</td></tr> -->
        </table>
    </div>

    <div id="popupMessage" class="popup">
        <span id="messageText"></span>
    </div>
</div>

{% endblock %}


